pipeline/Incremental_load.json
{
	"name": "Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "LookupoldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select Watermarkvalue from watermark\nwhere tablename ='@{pipeline().parameters.FinalTableName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select max(@{pipeline().parameters.waterMarkCol}) as NewwaterMarkVal from @{pipeline().parameters.srcTable}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopySQLtoSA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupoldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from @{pipeline().parameters.srcTable}\nwhere @{pipeline().parameters.waterMarkCol} >'@{activity('LookupoldWatermark').output.firstRow.waterMarkVal}' and @{pipeline().parameters.waterMarkCol}<='@{activity('LookupNewWaterMark').output.firstRow.NewwaterMarkVal}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "WatermarkTable",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"waterMarkCol": {
				"type": "string",
				"defaultValue": "ModifiedDate"
			},
			"srcTable": {
				"type": "string",
				"defaultValue": "SalesOrderDetail"
			},
			"FinalTableName": {
				"type": "string",
				"defaultValue": "SalesOrderDetail"
			}
		},
		"folder": {
			"name": "Rangeetha"
		},
		"annotations": []
	}
}