pipeline/TEST.json
{
	"name": "TEST",
	"properties": {
		"activities": [
			{
				"name": "Trigger_start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_start_time",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Effetive_Date_Time_End",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Trigger_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Effective_Date_Time_End",
					"value": {
						"value": "@formatDateTime(variables('trigger_start_time'),'yyyy-MM-ddT23:59:59.999Z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Effective_Date_Time_Start",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Effetive_Date_Time_End",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Effective_Date_Time_Start",
					"value": {
						"value": "@formatDateTime(startOfMonth(variables('trigger_start_time'), 'yyyy-MM-dd'),'yyyy-MM-ddT00:00:00.000Z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Folder_Structure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Effective_Date_Time_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Folder_Structure",
					"value": {
						"value": "@concat(variables('Folder_Structre'), '/', formatDateTime(variables('Effective_Date_Time_End')), 'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File_Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Folder_Structure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fle_name",
					"value": {
						"value": "@concat(\npipeline().parameters.API_File Name,\n'_',\nvariables('Effective_Date_Time_Start'),\n'__to__',\nvariables('Effective_Date_Time_End')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "File_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputBlob",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"API_File Name": {
				"type": "string"
			},
			"Main FOlder": {
				"type": "string"
			},
			"File System": {
				"type": "string"
			}
		},
		"variables": {
			"trigger_start_time": {
				"type": "String"
			},
			"Effective_Date_Time_Start": {
				"type": "String"
			},
			"Effective_Date_Time_End": {
				"type": "String"
			},
			"Folder_Structre": {
				"type": "String"
			},
			"Fle_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}